In [1]:
from pymongo import mongo_client

In [4]:
conn=mongo_client.MongoClient("localhost:27017")
mongodemo=conn["mongodemo"]
students=mongodemo["students"]

In [ ]:
#inserting
students.insert_one(
    {"name":"Alice","age":20,"marks":{"bio":90,"cs":85, "mat":96}}
    )

InsertOneResult(ObjectId('682b3cdc4a951e97cbb22008'), acknowledged=True)

In [6]:
students.insert_many([
     {"name":"Jose","age":22,"marks":{"bio":94,"cs":65, "mat":99}},
     {"name":"Asha","age":23,"marks":{"bio":94,"cs":69, "mat":88}},
     {"name":"Sumtih","age":19,"marks":{"bio":54,"cs":90, "mat":80}},
     {"name":"Alin Jose","age":23,"marks":{"bio":99,"cs":55, "mat":32}}
])

InsertManyResult([ObjectId('682b40264a951e97cbb22009'), ObjectId('682b40264a951e97cbb2200a'), ObjectId('682b40264a951e97cbb2200b'), ObjectId('682b40264a951e97cbb2200c')], acknowledged=True)

In [ ]:
#students with gt 85 mark in maths sorted by marks
pipeline=[
    {"$match":{"marks.mat":{"$gt":85}}},
    {"$sort":{"marks.mat":1}},
    {"$project":{"_id":0,"name":1}}
    ]
res=students.aggregate(pipeline)
for row in res:
    print(row)

{'name': 'Asha'}
{'name': 'Alice'}
{'name': 'Jose'}

In [17]:
#project only name and age
pipeline=[{"$project":{"_id":0,"name":1,"age":1}}]
res=students.aggregate(pipeline)
for row in res:
    print(row)

{'name': 'Alice', 'age': 20}
{'name': 'Jose', 'age': 22}
{'name': 'Asha', 'age': 23}
{'name': 'Sumtih', 'age': 19}
{'name': 'Alin Jose', 'age': 23}

In [19]:
#students with age=22
pipeline=[{"$match":{"age":{"$eq":22}}},
          {"$project":{"_id":0}}
          ]
res=students.aggregate(pipeline)
for row in res:
    print(row)

{'name': 'Jose', 'age': 22, 'marks': {'bio': 94, 'cs': 65, 'mat': 99}}

In [26]:
#student having lowest mark in cs
pipeline=[{"$sort":{"marks.cs":1}},
          {"$limit":1}
          ]
res=students.aggregate(pipeline)
for row in res:
    print(row)

{'_id': ObjectId('682b40264a951e97cbb2200c'), 'name': 'Alin Jose', 'age': 23, 'marks': {'bio': 99, 'cs': 55, 'mat': 32}}

In [ ]:
#upadating name of a student
students.update_many({"name":"Alin Jose"},{"$set":{"name":"Alin Jose Perera"}})
res=students.find()
for row in res:
    print(row)

{'_id': ObjectId('682b3cdc4a951e97cbb22008'), 'name': 'Alice', 'age': 20, 'marks': {'bio': 90, 'cs': 85, 'mat': 96}}
{'_id': ObjectId('682b40264a951e97cbb22009'), 'name': 'Jose', 'age': 22, 'marks': {'bio': 94, 'cs': 65, 'mat': 99}}
{'_id': ObjectId('682b40264a951e97cbb2200a'), 'name': 'Asha', 'age': 23, 'marks': {'bio': 94, 'cs': 69, 'mat': 88}}
{'_id': ObjectId('682b40264a951e97cbb2200b'), 'name': 'Sumtih', 'age': 19, 'marks': {'bio': 54, 'cs': 90, 'mat': 80}}
{'_id': ObjectId('682b40264a951e97cbb2200c'), 'name': 'Alin Jose Perera', 'age': 23, 'marks': {'bio': 99, 'cs': 55, 'mat': 32}}

In [33]:
#select studdent with age =20 or name=Jose
pipeline=[{"$match":{"$or":[{"name":"Jose"},{"age":20}]}}]
res=students.aggregate(pipeline)
for row in res:
    print(row)

{'_id': ObjectId('682b3cdc4a951e97cbb22008'), 'name': 'Alice', 'age': 20, 'marks': {'bio': 90, 'cs': 85, 'mat': 96}}
{'_id': ObjectId('682b40264a951e97cbb22009'), 'name': 'Jose', 'age': 22, 'marks': {'bio': 94, 'cs': 65, 'mat': 99}}