In [1]:
from pymongo import mongo_client
conn=mongo_client.MongoClient("mongodb://localhost:27017")
local=conn["local"]
students=local["students"]

In [2]:
data=[
    {"f_name":"Jerardh","l_name":"Tom","gender":"male","mark":90,"dept":"MCA","place":"Idukki"},
    {"f_name":"Bhavana","l_name":"Theruvath","gender":"female","mark":85,"dept":"MCA","place":"Kollam"},
    {"f_name":"Khureshi","l_name":"Abraam","gender":"male","mark":66,"dept":"Mech","place":"Trivandrum"},
    {"f_name":"Thoppil","l_name":"Joppan","gender":"male","mark":35,"dept":"Mech","place":"Kottayam"},
    {"f_name":"Maya","l_name":"Mohan","gender":"female","mark":69,"dept":"CSE","place":"Kollam"},
    {"f_name":"Stephen","l_name":"Nedumpally","gender":"male","mark":99,"dept":"Mech","place":"Palakkad"},
    {"f_name":"Sorav","l_name":"Sarath","gender":"male","mark":89,"dept":"CSE","place":"Trivandrum"},
    {"f_name":"Reema","l_name":"Babu","gender":"female","mark":77,"dept":"Mech","place":"Kollam"},
    {"f_name":"Sahal","l_name":"Samad","gender":"male","mark":55,"dept":"EEE","place":"Malappuram"},
    {"f_name":"Nandana","l_name":"Narayan","gender":"female","mark":83,"dept":"MCA","place":"Kannur"},
    {"f_name":"Subi","l_name":"Suresh","gender":"male","mark":69,"dept":"ECE","place":"Kollam"},
    {"f_name":"Abin","l_name":"Varghese","gender":"male","mark":100,"dept":"Mech","place":"Alappuzha"},
]
students.insert_many(data)

InsertManyResult([ObjectId('67e248718bc9013e03b4eecd'), ObjectId('67e248718bc9013e03b4eece'), ObjectId('67e248718bc9013e03b4eecf'), ObjectId('67e248718bc9013e03b4eed0'), ObjectId('67e248718bc9013e03b4eed1'), ObjectId('67e248718bc9013e03b4eed2'), ObjectId('67e248718bc9013e03b4eed3'), ObjectId('67e248718bc9013e03b4eed4'), ObjectId('67e248718bc9013e03b4eed5'), ObjectId('67e248718bc9013e03b4eed6'), ObjectId('67e248718bc9013e03b4eed7'), ObjectId('67e248718bc9013e03b4eed8')], acknowledged=True)

In [3]:
#name,mark of all female students  in MCA
res=students.find({"gender":"female","dept":"MCA"},{"_id":0,"f_name":1,"l_name":1,"mark":1})
for row in res:
    print(row)

{'f_name': 'Bhavana', 'l_name': 'Theruvath', 'mark': 85}
{'f_name': 'Nandana', 'l_name': 'Narayan', 'mark': 83}

In [ ]:
#details of students who secured highest mark in MCA

In [6]:
#all male students who got A+ grade

res=students.find({"gender":"male","mark":{"$gte":90}},{"_id":0})
for row in res:
    print(row)

{'f_name': 'Jerardh', 'l_name': 'Tom', 'gender': 'male', 'mark': 90, 'dept': 'MCA', 'place': 'Idukki'}
{'f_name': 'Stephen', 'l_name': 'Nedumpally', 'gender': 'male', 'mark': 99, 'dept': 'Mech', 'place': 'Palakkad'}
{'f_name': 'Abin', 'l_name': 'Varghese', 'gender': 'male', 'mark': 100, 'dept': 'Mech', 'place': 'Alappuzha'}

In [ ]:
#top 5 students in mechanical dept

In [7]:
#female students with mark more than 90
res=students.find({"gender":"female","mark":{"$gt":90}},{"_id":0})
for row in res:
    print(row)

In [12]:
#students with mark b/w 80 and 90 with name starting with "A"

res=students.find(
    {"mark":{"$gte":80},
     "mark":{"$lte":90},
     "f_name":{"$regex":"^A"}
     },
     {"_id":0})
for row in res:
    print(row)

{'f_name': 'Antony', 'l_name': 'Joppan', 'gender': 'male', 'mark': 85, 'dept': 'Mech', 'place': 'Kottayam'}

In [2]:
#students from kollam
res=students.find({"place":"Kollam"},{"_id":0})
for row in res:
    print(row)

{'f_name': 'Bhavana', 'l_name': 'Theruvath', 'gender': 'female', 'mark': 85, 'dept': 'MCA', 'place': 'Kollam'}
{'f_name': 'Maya', 'l_name': 'Mohan', 'gender': 'female', 'mark': 69, 'dept': 'CSE', 'place': 'Kollam'}
{'f_name': 'Reema', 'l_name': 'Babu', 'gender': 'female', 'mark': 77, 'dept': 'Mech', 'place': 'Kollam'}
{'f_name': 'Subi', 'l_name': 'Suresh', 'gender': 'male', 'mark': 69, 'dept': 'ECE', 'place': 'Kollam'}

In [9]:
#students not from malappuram or trivandrum
res=students.find({"place":{"$nin":["Trivandrum","Malappuram"]}},{"_id":0})
for row in res:
    print(row)

{'f_name': 'Jerardh', 'l_name': 'Tom', 'gender': 'male', 'mark': 90, 'dept': 'MCA', 'place': 'Idukki'}
{'f_name': 'Bhavana', 'l_name': 'Theruvath', 'gender': 'female', 'mark': 85, 'dept': 'MCA', 'place': 'Kollam'}
{'f_name': 'Antony', 'l_name': 'Joppan', 'gender': 'male', 'mark': 85, 'dept': 'Mech', 'place': 'Kottayam'}
{'f_name': 'Maya', 'l_name': 'Mohan', 'gender': 'female', 'mark': 69, 'dept': 'CSE', 'place': 'Kollam'}
{'f_name': 'Stephen', 'l_name': 'Nedumpally', 'gender': 'male', 'mark': 99, 'dept': 'Mech', 'place': 'Palakkad'}
{'f_name': 'Reema', 'l_name': 'Babu', 'gender': 'female', 'mark': 77, 'dept': 'Mech', 'place': 'Kollam'}
{'f_name': 'Nandana', 'l_name': 'Narayan', 'gender': 'female', 'mark': 83, 'dept': 'MCA', 'place': 'Kannur'}
{'f_name': 'Subi', 'l_name': 'Suresh', 'gender': 'male', 'mark': 69, 'dept': 'ECE', 'place': 'Kollam'}
{'f_name': 'Abin', 'l_name': 'Varghese', 'gender': 'male', 'mark': 100, 'dept': 'Mech', 'place': 'Alappuzha'}